html, body {
    height: 100%;
}

#parent, #about-parent {
    background-color: rgba(123, 183, 206, 0.3);
    height: 100vh;
  }

figure.figure img {
    width: 50%;
    max-width: 200px;
}

.progress-bar {
    background-color: #31c0e0;
}

.socials {
   cursor: pointer;
}